* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #161616;
  background-image: url(../img/dark_mosaic.png); }

p {
  color: white; }

table {
  border: 3px solid #950000; }
  table th {
    background-color: #fd4e4e;
    border: 1px solid; }
  table td {
    border: 1px solid red;
    color: red; }
    table td ol.episodios {
      list-style-type: upper-roman; }

header {
  display: flex;
  padding: .5em 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  header #logo {
    width: 8rem; }
  header .menu {
    padding-top: 2.5rem;
    display: flex; }
    header .menu__item {
      display: inline;
      margin: 1rem 1rem 1rem 1rem; }
    header .menu__link {
      color: #0cb8af;
      font-size: 1.5em;
      text-decoration: none; }
      header .menu__link:hover {
        color: #dcf0ef;
        font-size: 1.5em;
        text-decoration: none; }
      header .menu__link--active {
        color: white; }

.redesNav {
  color: red;
  font-size: 1.5em;
  padding-top: 2.5rem; }
  .redesNav--facebook {
    color: #3b5998; }
  .redesNav--instagram {
    color: #C13584; }
  .redesNav--youtube {
    color: red; }

.info__titulo {
  color: #0cb8af;
  font-family: 'Bebas Neue', cursive;
  /*line-height: 2em;*/
  letter-spacing: .3em;
  font-size: 2em;
  text-align: center;
  padding-bottom: 1rem; }

.info__video {
  width: 100%;
  height: 520px; }

.info__parrafoPrincipal {
  /* color: rgb(12, 184, 175); */
  font-size: 1.2em;
  color: white; }

.galeria {
  display: none; }

main form fieldset h2 {
  color: aliceblue;
  line-height: 50px; }

main form fieldset label {
  color: aliceblue;
  line-height: 50px; }

.footer {
  display: grid;
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-template-columns: 3fr 7fr;
  background: #36D1DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .footer__aviso {
    justify-self: center;
    align-self: center; }
  .footer__redesFooter {
    justify-self: center;
    display: inline;
    font-size: 1.2em;
    text-align: center; }
    .footer__redesFooter--facebook {
      color: #3b5998; }
    .footer__redesFooter--instagram {
      color: #C13584; }
    .footer__redesFooter--youtube {
      color: red; }

@media only screen and (min-width: 750px) {
  .galeria {
    display: flex;
    flex-direction: row-reverse; }
    .galeria__img {
      width: 12.5%;
      width: 100%;
      filter: brightness(0.9); }
      .galeria__img:hover {
        filter: brightness(1.3);
        transform: scale(1.1);
        transform-origin: 0% 100%;
        z-index: 10; }
  .info {
    padding-top: 2rem;
    background: white;
    background: linear-gradient(180deg, white 0%, #d9d9d9 52%, white 100%); }
    .info__infoPrincipal {
      margin: 1rem 3rem 3rem 5rem; }
    .info__titulo {
      color: #0cb8af;
      font-family: 'Bebas Neue', cursive;
      /*line-height: 2em;*/
      letter-spacing: .3em;
      font-size: 2em;
      text-align: left;
      padding-bottom: 1rem; }
    .info__parrafoPrincipal {
      /* color: rgb(12, 184, 175); */
      font-size: 1.2em;
      color: black; } }

@media screen and (min-width: 1240px) {
  .info {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    background: white;
    background: linear-gradient(180deg, white 0%, #d9d9d9 52%, white 100%); }
    .info__video {
      margin-right: 5rem;
      width: 700px; }
    .info__infoPrincipal {
      margin: 5rem 3rem 0rem 5rem; }
  header {
    flex-wrap: nowrap;
    justify-content: space-evenly; } }
